<footer class="site-footer">
  <div class="wrapper-v3">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-4">
      <h2><center><nav  style="font-weight: 600; font-size: 18px;">Contact</nav></center></h2>
      <ul class="contact-list">
        <li>
            e: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </li>
      </ul>
      </div>

      <div class="footer-col footer-col-4">
        <h2><center><nav  style="font-weight: 600; font-size: 18px;">Links</nav></center></h2>
        <ul class="contact-list social-media-list">
          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}">
              <span class="username">github//{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username">twitter//{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
          <li>
            <a href="https://id.linkedin.com/in/">
              <span class="username">
                  <a href="https://au.linkedin.com/pub/stephanie-pradier/52/691/b08">LinkedIn</a></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>
<footer class="site-footer">
</footer>
